@model IEnumerable<HouseMata.Models.Friend>
@{
    ViewBag.Title = "ShowMyFriends";
    Layout = "~/Views/Shared/_View.cshtml";
}

<table class="table">


    @foreach (var item in Model)
    {
        <div>
            <img src="~/Images/profile/@item.User.profileImage" height="100px" />
            <h4>@item.User.firstName @item.User.lastName</h4>
            <a href="@Url.Action("viewPosts", "Profile", Session["Id"] = item.User.userID )">View Profile</a>
        </div>
    }

</table>